body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, rgba(202,120,211,255),rgba(241,201,152,255));
    color: #333333;
    margin-top: 5rem;
    font-size: 16px;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.guess-clue{
  font-size: 20px;
}

h1 {
    text-align: center;
    color: #5BE9F9;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bolder;
}

button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;

}

button:hover {
    background-color: #0056b3;
}

.clues-container {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.clues-title {
    font-weight: bold;
}

.clues-list {
    list-style-type: none;
    padding: 0;
}

.clues-item {
    margin-bottom: 5px;
}