<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Bagels Game</title>
</head>
<body>
    <h1>Welcome to Bagels Game</h1>
    <p>I'm thinking of a 3-digit number from 0 to 9 with NO REPEATED DIGITS. Try to guess what it is.</p>
    <p>Here are some clues:</p>
    <ul>
        <li>Pico😮: One digit is correct but in the wrong position.</li>
        <li>Fermi🤙: One digit is correct and in the right position.</li>
        <li>Bagels🥲: No digit is correct.</li>
    </ul>
    <p>For example, if the secret number was 248 and your guess was 843, the clues would be Fermi Pico.</p>
    <a href="/bagels/bagels/">Start Game</a>
</body>
</html>
