<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table of Contents</title>
    <link rel="stylesheet" href="main.css" type="text/css" />
    <link rel="icon" href="icon.png" type="image/icon-x" />
</head>

    <body>
        <section id="TableOfContents">
            <h1>Table of Contents</h1>
            <nav>
                <ol>
                    <li>
                        <a href="Chapter1.html">
                            <strong>Elements, Entity, Links</strong>
                        </a>
                    </li>
                    <li>
                        <a href="Chapter2.html">
                            <strong>List in HTML</strong>
                        </a>
                    </li>
                    <li>
                        <a href="Chapter3.html">
                            <strong>Chap3</strong>
                        </a>
                    </li>
                    <li>
                        <a href="Chapter4.html">
                            <strong></strong>
                        </a>
                    </li>
                </ol>
            </nav>
        </section>
        <hr>

        <!-- <section id="OtherChapter">
            <h2>Other chapter</h2>
            <strong>&starf;Link to subsequent page:</strong>
            <abbr title="Chapter II">
                <a href="Chapter2.html">Chapter II</a>
            </abbr> <br> -->
        <section>
            <strong>&starf;Back to top:</strong>
            <abbr title="Back to top">
                <a href="#TableOfContents">Click here</a>
            </abbr> <br>
        </section>
    </body>
</html>
