{% extends "blog/base.html" %}

{% block content %}
  <h1>Author of this website</h1>
  {% for author in authors %}
    <article class="media content-section">
      <div class="media-body">

        <div class="article-metadata">
          <a class="mr-2" href="{{ author.fb }}"><h3 class="author"> {{ author.author }} </h3></a>
          <small class="text-muted"> <a href="{{ author.github }}">{{ author.job }}</a></small>
        </div>

        <h2><a>{{ author.position }}</a></h2>
        <p class="article-content">{{ author.content }}</p>

      </div>
    </article>
  {% endfor %}
{% endblock content %}
